.App {
  text-align: center;
}

#snoozeButton,
#stopButton {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  margin-top: 50px;
}
.main {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-gap: 20px;
}
